---
---

$section-headings-color: #594a5e !default;

@import "{{ site.theme }}";

.page-header {
  background-image: url("../images/starry_sky.jpeg");
  background-color: #594a5e;
}

.logos {
  text-align: center;
}

.logos a {
  text-decoration: none !important;
}

.logo {
  width: 200px;
  padding: 15px;
}
